In [1]:
import sqlite3

conn = sqlite3.connect("test.db")
c1 = conn.cursor()

In [2]:
c1.execute("""
CREATE TABLE if not EXISTS price 
(id int PRIMARY key NOT NULL,
 vegetables text NOT NULL,
 quantity real NOT NULL,
 price real NOT NULL
);
""")

In [3]:
data = [(1,'carrot',10,50),
        (2,'chillies-B',5,20),
        (3,'chillies-A',5,20)]

In [ ]:
for i in data:
    s = f"""insert into price 
            (id,vegetables,quantity,price) 
            values 
            ({i[0]},'{i[1]}',{i[2]},{i[3]})"""
    c1.execute(s)

In [5]:
conn.commit()

In [6]:
c1.close()

In [7]:
conn

In [8]:
c2 = conn.cursor()

In [14]:
sel = c2.execute("select * from price")
# sel.fetchone()

In [15]:
for i in sel:
    print(i)

(1, 'carrot', 10.0, 50.0)